body {
    display: block;
    margin: 0px;
}
div {
    /*
    border: solid 8px red;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    */
    box-sizing: border-box;
    color: #ffffff;
  }


.OptonTable {
    text-align: center;
    width: 100%;
    clear: both;
}

#presetName{
    color: #ca2222;
    font-weight: bold;
    font-size: 200%;
    text-align: center;
    width: 90%;
    float: left;
    display: flex;
    align-items: center; /* 縦方向中央揃え */
    justify-content: center; /* 横方向中央揃え */
}
#Delete{
    text-align: center;
}

#Save{
    text-align: center;
    width: 10%;
    float: left;
}

#PresetTable {
    color: #000000;
    background-color: rgb(240, 240, 240);
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    
}

#PresetTable td{
    border-bottom: solid 2px rgb(196, 190, 190);
    border-left: 10px solid rgb(97, 93, 93);
}
.Presets,.Option {
    float: left;
}

.Presets{
    padding: 0 0px;
    margin: 0%;
    width: 10%;
    height: 100vh;
	overflow:hidden;
}
.Presets .mCSB_inside > .mCSB_container{
    margin: 0%
}
.Option{
    width: 90%;
	
}

.tab-content{
    margin: 1% 0% 0%;
}
.nav-link {
	background-color: #ccc;
    color: rgb(53, 52, 52);
    font-size: 14px;

}
.nav-link.active {
    background-color: #eee;
	font-weight: bold;
}

.ShowImage{
    width: 200px;
    height: 200px;
    margin: 0% auto;
}

.Image{
    width: 100%;
    height: 100%;
    margin: 0% auto;
    object-fit: contain;
}

